<!DOCTYPE HTML>

<html>
    <head>
        <title>Weather Forecast</title>
        <link rel="stylesheet" href="./css/styles.css">    
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p>
                A NodeJS application which uses the Mapbox's geocoding api to get latitude and longitude for a location given by the user and OpenWeather's weather api to get weather for the latitude and longitude given by the geocoding API.
            </p>

        </div>

        {{>footer}}
    
    </body>

</html>